/* #Media Queries
============================== */

@media (min-width: 1921px) and (max-width: 2560px) {
    .up .reach-section {padding: 280px 0;}
    .up .hero-section .hero-img video{height: 920px;}
    .up .find-section { background-position: 64% center; }
}

@media (min-width: 2561px) and (max-width: 3840px) {
    .up .reach-section {padding: 480px 0;}
    .up .find-section { background-position: 59% center; }
    .up .hero-section .hero-img video{height: 1240px;}
}


@media (min-width: 1441px) and (max-width:1920px){
    .up .reach-section{padding: 150px 0;}
    .up .find-section { background-position: 72% center; }
}

@media (max-width:1440px) {
    .up .find-section { background-position: 85% center; }
}

@media (max-width:1280px) {
    .up .find-section { background-position: 95% center; }
}

@media (max-width:1140px) {
    .up .container{padding: 0 16px;}
}

@media (max-width:1024px) {
    .up .reach-section{padding: 70px 0;}
    .up .find-section .cstm-before:before{display: none;}
    .up .find-section{ background-position: center; background-size: contain; }
    .up h1 code, h2 code{ -webkit-text-stroke: 1px #fff; }
    .up .reach-section .reach-wrap .inner-wrap .content p{padding: 0 16px; }
}
@media (max-width:991px) {

.up h1 { font-size: 56px; line-height: 1.13em; }
.up h2 { font-size: 38px; line-height: 1.29em; }
.up h3 { font-size: 34px; line-height: 1.23em; }
.up h4 { font-size: 32px; line-height: 1.32em; }

/* hero-section */
.up .hero-section { padding-top: 90px;padding-bottom: 60px; }
.up .hero-section .hero-img { margin-top: -15px; padding-bottom: 40px; }

/* benefit-section */
.up .benefit-section .training  .training-col img { min-height: auto; }

/* services-section */
.up .services-section .services-wrap { column-gap: 148px;padding: 60px 0px 60px; }
.up .services-section .services-wrap { flex-direction: column;text-align: center; }
.up .services-section .services-wrap .left-col{ width: 100%;}

/* membership-section */
.up .membership-section { padding: 60px 0px 60px;text-align: center; }
.up .yoga-section { padding-bottom: 60px; }

/* find-section */
.up .find-section .contact-wrap{justify-content: center; }
.up .find-section { text-align: center;padding-bottom: 60px;padding-top: 40px; }
.up .find-section .contact-wrap { margin-top: 40px; }
.up .find-section .contact-wrap .contact-card .adr-section{align-items: center;}

/* footer */
.up footer .footer-top { padding: 73px 16px; }

}
@media (max-width:767px) {

.up h1 { font-size: 42px; line-height: 1.13em; }
.up h2 { font-size: 32px; line-height: 1.29em; }
.up h3 { font-size: 28px; line-height: 1.23em; }
.up h4 { font-size: 26px; line-height: 1.32em; }
.up p{font-size: 16px; line-height: 20px; }
.up .btn_all a {font-size: 16px;line-height: 24px;padding: 13px 25px; }

/* hero-section */
.up .hero-section { padding-top: 90px; padding-bottom: 60px; }
.up .hero-section .hero-img video{ height: auto; }

/* benefit-section */
.up .benefit-section .training { flex-direction: column;padding-top: 40px; text-align: center; align-items: center; }
.up .benefit-section .training .training-wrap .training-title{ margin-top: 20px;margin-bottom: 40px; }
.up .benefit-section .training  .training-col { width: 100%; }

/* services-section */
.up .services-section .services-wrap{ flex-direction: column;padding: 20px 0px 60px; text-align: center; }
.up .services-section .services-wrap .left-col{ width: 100%;}

/* .yoga-section */
.up .yoga-section .yoga-wrap { flex-direction: column;row-gap: 40px; }
.up .yoga-section .yoga-wrap .right-col { width: 100%;}
.up .yoga-section { padding-bottom: 60px; }
.up .yoga-section .yoga-wrap .left-col{width: 100%;}

/* reach-section */
.up .reach-section .reach-wrap .inner-wrap .content p { margin: 24px 0px; }

/* membership-section */
.up .membership-section { padding: 60px 0px 60px;text-align: center; }
.up .membership-section .container h2 { margin-bottom: 40px; }
.up .membership-section .membership-cards { flex-direction: column;padding: 0px 16px; }
.up .membership-section .membership-cards .card .num .card-text p { margin-top: 24px; }

/* find-section */
.up .find-section { text-align: center; padding-bottom: 60px; padding-top: 40px;}
.up .find-section .contact-wrap { margin-top: 40px;justify-content: center; }
.up .find-section .contact-wrap .contact-card { flex-direction: column;padding: 24px 16px; }
.up .find-section .contact-wrap .contact-card { gap: 25px; }

.up .reach-section{padding: 50px 0;}

/* footer */
.up footer .footer-top .footer-wrap { flex-direction: column;text-align: center;row-gap: 24px; }
.up footer .footer-top .footer-wrap .footer-right .content-wrap .social-icon { justify-content: center; }
.up footer .footer-top { padding: 60px 16px; }
.up footer .footer-bottom .footer-wrap { flex-direction: column; }
.up footer .footer-bottom .footer-wrap .privacy a, .footer-wrap .privacy { font-size: 16px;line-height: 28.1px;text-align: center; }

}
