/* #General Styles
================================================== */

:root {
    --color1: #EE2931;
    --color2: #333333;
    --color3: #FFFFFF;
    --color4: #000000;
    --Antonio: "Antonio", sans-serif; 
    --Inter: "Inter", sans-serif; 
    --normal: 400;
    --bold: 700;
}

* { margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  }
* {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);font-variant-ligatures: none;}
.up html, body.up, .up div, .up span, .up applet, .up object, .up iframe, .up a, .up img, .up select, .up input, .up option { margin: 0; padding: 0; border: 0; outline: 0; }
.up html { -webkit-text-size-adjust: none; }
.up button, .up input, .up select, .up textarea { font-size: 100%; margin: 0; vertical-align: baseline; box-shadow: none; }
.up input[type="button"], .up input[type="submit"] {appearance: none; -webkit-appearance: none !important; }
.up a { text-decoration: none; }
.up img { border: 0 none; max-width: 100%; vertical-align: top; }
.up a { outline: none; cursor: pointer; }
.up a:hover { text-decoration: none; }
/* :focus { border: 1px solid red !important; } */
.up sup {font-size: 90%;position: relative;top: 0.3em;line-height: 0.8;}
.up sup.reg {font-size: 55%;top: 0;}
.up .clear { clear: both; }
.up img { max-width: 100%; }
.up button:focus {outline:0;}
.up .text-transform { text-transform: uppercase; }
.up .preloader { display: none; }
.up img { vertical-align: bottom; }

:is(.up h1,.up h2,.up h3,.up h4,.up h5,.up h6) {font-family: var(--Antonio);line-height: 1.2;letter-spacing: 0em; text-transform: uppercase;}
.up h1 {font-size: 150px;line-height:195px;color: var(--color3);font-weight: var(--bold);}
.up h2 {font-size: 100px;line-height:130px;color: var(--color3);font-weight: var(--bold);}
.up h3 {font-size: 60px;line-height: 78px;color: var(--color3);font-weight: var(--bold);}
.up h4 {font-size: 24px; line-height:32px;color: var(--color3);font-weight: var(--bold);}
.up .heading-span{color: var(--color1);}
.up p {font-size: 18px; line-height: 22px; color: var(--color3);font-weight: var(--normal);letter-spacing: 0em;font-family: var(--Inter);}

/* ~~~~~ Flex Container ~~~~~ */
.up .flex-container { width: 100%; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
.up .flex-end {justify-content: flex-end; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end }
.up .flex-start {-webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
.up .flex-center {-webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.up .flex-item { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; padding-left: 15px; padding-right: 15px; }
/* ~~~~~ / Flex Container ~~~~~ */

/* #Page Structure
=============================== */
body.up { margin: 0; padding: 0; font-size: 18px; color: #fff; background: #000;font-family: var(--Inter); font-weight: 400;overflow-x: hidden;}
.up .wrapper { width: 100%; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s;overflow-x: hidden;}
.up .container {max-width: 1140px;margin: 0 auto;}
.up a, .up button { transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; }
.up .btn_all a {background-color: var(--color2);color: var(--color3);font-size: 20px;line-height: 26px;padding: 15px 30px;font-family: var(--Antonio);font-weight: var(--bold);border-radius: 100px;letter-spacing: 0em;display: inline-block;vertical-align: middle;text-transform: uppercase;letter-spacing: 0.8px;}
.up .btn_all a:hover { box-shadow: inset 7em 0 0 0 #fff, inset -7em 0 0 0 #fff; border-color: #333; color: #333;}

.up .mid-container{width:100%;}

/* Header Style
=============================== */
.up header{width: 100%;}

/* Footer Style
=============================== */
.up footer{width: 100%;}
.up .wrapper{display: flex; flex-wrap: wrap; flex-direction: column; width: 100%;}

.up header { padding: 30px 16px 0; }
.up header .header-inner { display: flex; justify-content: space-between; align-items: center; }

/* Hero-section */
.up .hero-section .hero-img video { width: 100%; height: 720px; object-fit: cover; }
.up .hero-section { padding-top: 124px; padding-bottom: 120px; text-align: center; }
.up .hero-section .hero-img { margin-top: -66px; position: relative; z-index: -1; padding-bottom: 60px; }
.up .hero-section .content p { text-transform: capitalize; padding: 0 16px; }
.up .hero-section .button { margin-top: 40px; }
.up code{ font-family: inherit; }
.up h1 code, h2 code{ position: relative; -webkit-text-stroke: 2px #fff; -webkit-text-fill-color: transparent; line-height: 1.31; }
.up h1 code:before, h2 code:before{ content: attr(data-text); position: absolute; top: 0; left: 0; width: 0; color: #fff; white-space: nowrap; transition: 2s; overflow: hidden;  -webkit-text-fill-color: #fff; }
.up h1 code.fill-text:before,h2 code.fill-text:before{width: 100%;-webkit-text-fill-color: #fff; }

/* Benefit-section */
.up .benefit-section .title h2{text-align: center; }
.up .benefit-section .training { padding: 80px 0px 0; display: flex; gap: 30px; flex-wrap: wrap; justify-content: center; }
.up .benefit-section .training .training-col { max-width: 360px; width: 100%; }
.up .benefit-section .training .logo { overflow: hidden; cursor: auto;}
.up .benefit-section .training .logo img { -webkit-transform: scale(1); transform: scale(1); -webkit-transition: 0.3s ease-in-out; transition: 0.3s ease-in-out; object-fit: cover; min-height: 420px;}
.up .benefit-section .training .logo img:hover { -webkit-transform: scale(1.3); transform: scale(1.1);}
.up .benefit-section .training .training-wrap .training-title { text-align: center; margin-top: 40px; }

/* Services-section */
.up .services-section .services-wrap { display: flex; align-items: start; column-gap: 148px; padding: 120px 0 80px; }
.services-section .services-wrap .right-col .right-wrap p { letter-spacing: 0.1px; text-transform: capitalize; margin-top: 28px; }
.services-section .services-wrap .right-col .right-wrap p:nth-child(2) { margin-bottom: 40px; }

/* yoga-section */
.up .yoga-section .accordian-content{display: none;}
.up .yoga-section { padding:0 0px 120px; }
.up .yoga-section .yoga-wrap{display: flex; align-items: start; justify-content: center; column-gap: 60px;}
.up .yoga-section .yoga-wrap .right-col{width: 55%;}
.up .yoga-section .yoga-wrap .right-col .accordian-wrap { border-bottom: 2px solid #fff; padding-bottom: 30px; margin-bottom: 30px; }
.up .yoga-section .yoga-wrap .right-col .accordian-wrap:last-child { margin-bottom: 0px; }
.up .yoga-section .yoga-wrap .right-col .accordian-wrap .accordian-content p { padding-top: 10px; font-size: 16px; font-weight: 300; line-height: 20px; font-family: var(--Inter); }
.up .yoga-section .yoga-wrap .right-col .accordian-wrap .accordian-content .button a { font-size: 18px; font-weight: 700; line-height: 1.2; color: var(--color3); text-transform: uppercase; letter-spacing: 0.8px; font-family: var(--Antonio); }
.up .yoga-section .yoga-wrap .right-col .accordian-wrap .accordian-content .button { margin-top: 13px; }
.up .yoga-section .yoga-wrap .right-col .accordian-wrap.active .accordian-title.active h3 {color: #EE2931; }
.up .yoga-section .yoga-wrap .right-col .accordian-wrap .accordian-title h3 { cursor: pointer;}

/* Reach-section */
.up .reach-section{ text-align: center; background-image: url(../images/reach-bg.png); background-size: cover; background-repeat: no-repeat; padding: 120px 0px; background-position: center; position: relative; }
.up .reach-section .bg-overlay{width: 100%; height: 100%; background-color: rgba(51, 51, 51, 0.6); position: absolute; top: 0; }
.up .reach-section .reach-wrap .inner-wrap .content p{ margin: 40px 0px;padding: 0 44px; }
.up .reach-section .reach-wrap .inner-wrap .button a{ background: #EE2931; }

/* Membership-section */
.up .membership-section .container h2 { margin-bottom: 60px;}
.up .membership-section{ padding: 120px 0px 150px; }
.up .membership-section .membership-cards .card .num { border-bottom: 1px solid #FFFFFF33;}
.up .membership-section .membership-cards { display: flex; align-items: center; justify-content: space-between; gap:30px; flex-wrap: wrap; justify-content: center; }
.up .membership-section .membership-cards .card { width: 100%; max-width: 360px; background: linear-gradient(to left bottom, transparent 50%, #EE2931 0) no-repeat 100% 0 / 2em 2em, linear-gradient(-135deg, transparent 1.41em, #333333 0); transition: transform 0.3s ease-in-out; cursor: auto; }
.up .membership-section .membership-cards .card .num { padding: 30px;}
.up .membership-section .membership-cards .card .mem-list{ padding: 0px 30px 36px;}
.up .membership-section .membership-cards .card .mem-list p::before { content: '+'; margin-right: 10px; margin-bottom: 2px;  }

.up .membership-section .membership-cards .card .num span { font-size: 30px; line-height: 39px; font-weight: 700; font-family: "Antonio", sans-serif; }
.up .membership-section .membership-cards .card .num .card-text p { font-family: "Antonio", sans-serif; text-transform: uppercase; font-size: 24px; line-height: 31px; font-weight: 700; margin-top: 40px }
.up .membership-section .membership-cards .card .mem-list p { margin-top: 30px;display: flex; align-items: center;  }
.up .membership-section .membership-cards .card .button a { background: #EE2931; margin-top: 40px; }

/* Find section */
.up .find-section { padding-left: 16px;padding-right: 16px;padding-bottom: 280px; background-image: url(../images/find-bg.png); background-size: 666px; background-repeat: no-repeat; background-position: 80% center; }
.up .find-section .contact-wrap { margin-top: 100px; display: flex; }
.up .find-section .contact-wrap .contact-card { display: flex; align-items: center; column-gap: 44px; padding: 40px; gap: 44px; background-color: #333333; border: 1px solid rgba(255, 255, 255, 0.2); z-index: 9; }
.up .find-section .contact-wrap .contact-card .adr-section{ display: flex; flex-direction: column; gap: 20px; max-width: 225px; width: 100%; }
.up .find-section .contact-wrap .contact-card .adr-section a{ color: var(--color3); width: fit-content; word-break: break-word; }
.up .find-section .contact-wrap .contact-card .adr-section a:hover{ color: var(--color1); }
.up .find-section .contact-wrap .contact-card .adr-section p{ font-size: 16px; line-height: 20px; font-weight:400; }
.up .find-section .cstm-before { position: relative; }
.up .find-section  .cstm-before:before { position: absolute;content: "";background-image: url(../images/findafter.png);width: 100%;height: 100%;background-repeat: no-repeat;top: 50%;left: 650px; }

/* footer */
.up footer p, .up footer a, .up footer div { font-family: "Mulish", sans-serif; }
.up footer p{ font-size: 24px; font-weight: 300; line-height: 38px; }
.up footer a, .up footer div { font-size: 20px; font-weight: 400; line-height: 25px; }
.up footer .footer-top { padding: 73px 16px; background: #333333; }
.up footer .footer-top .footer-wrap { display: flex; align-items: center; column-gap: 61px;}
.up footer .footer-top .footer-wrap .footer-right{max-width: 871px;}
.up footer .footer-top .footer-wrap .footer-left{max-width: 127px;}
.up footer .footer-top .footer-wrap .footer-right .content-wrap .social-icon  { display: flex; gap: 30px; flex-wrap: wrap; }
.up .footer .footer-top .container { max-width: 1207px; }
.up footer .footer-top .footer-wrap .footer-right .content-wrap .content { margin-bottom: 38px; }
.up footer .footer-right .common-social a img { transition: 400ms all ease-in;     width: 100%;  height: 100%;}
.up footer .footer-right .common-social a:hover img { fill: #EE2931; stroke: #EE2931; transform: scale(1.05); }
.up footer .footer-bottom .footer-wrap { display: flex; justify-content: space-between; }
.up footer .footer-bottom .footer-wrap .privacy a, .footer-wrap .privacy {  transition: 300ms all ease-in; font-family: Mulish; font-size: 20px; font-weight: 400; line-height: 25.1px; color: #fff; }
.up footer .footer-bottom { padding: 18px; }
.up footer .footer-bottom .privacy a:hover{color:#EE2931 ;}


