
<section class="positivus-services">
  <div class="positivus-services__wrapper">
    <div class="positivus-services__header">
      <h2 class="positivus-services__title">{{ module.title }}</h2>
      <div class="positivus-services__intro">
        {{ module.intro_text }}
      </div>
    </div>
    <div class="positivus-services__grid">
      {% for card in module.service_cards %}
        <div class="service-card service-card--{{ card.card_style }}">
          <div class="service-card__content">
            <h3 class="service-card__title">{{ card.card_title }}</h3>
            <a class="service-card__link" href="{{ card.card_link.url.href }}"
              {% if card.card_link.open_in_new_tab %}target="_blank"{% endif %}
              {% if card.card_link.rel %}rel="{{ card.card_link.rel|join(' ') }}"{% endif %}
            >
              <span class="service-card__link-icon"></span>
              <span class="service-card__link-text">{{ card.card_link.text }}</span>
            </a>
          </div>
          <div class="service-card__image">
            {% if card.card_image.src %}
              <img src="{{ card.card_image.src }}" alt="{{ card.card_image.alt }}" width="{{ card.card_image.width }}" height="{{ card.card_image.height }}">
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
