<section class="case-studies">
  <div class="case-studies__header">
    <h2 class="case-studies__title">{{ module.title }}</h2>
    <p class="case-studies__description">{{ module.description }}</p>
  </div>
  <div class="case-studies__content">
    {% for item in module.case_studies %}
      <div class="case-study-item">
        <p class="case-study-item__text">{{ item.text }}</p>
        <a href="{{ item.link.url.href }}" class="case-study-item__link"
          {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
          {% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}
        >
          {{ item.link.text }}
        </a>
      </div>
    {% endfor %}
  </div>
</section>
